<?xml version="1.0" encoding="utf-8"?>
<configuration>	
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MyDBConnectionString" connectionString="Data Source=PC-VANTRUNG\SQLEXPRESS;Initial Catalog=vcpmcDemo2;Integrated Security=True" providerName="System.Data.SqlClient " />
    <add name="VCPMC_Report.Properties.Settings.vcpmcConnectionString" connectionString="Data Source=DESKTOP-T0K91DM\SQLEXPRESS;Initial Catalog=vcpmc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="VCPMC_Report.Properties.Settings.vcpmcDemoConnectionString" connectionString="Data Source=DESKTOP-T0K91DM\SQLEXPRESS;Initial Catalog=vcpmcDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Vcpmc.Mis.AppMatching.Properties.Settings.vcpmcDemoConnectionString" connectionString="Data Source=DESKTOP-T0K91DM\SQLEXPRESS;Initial Catalog=vcpmcDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Vcpmc.Mis.AppMatching.Properties.Settings.vcpmcConnectionString" connectionString="Data Source=DESKTOP-T0K91DM\SQLEXPRESS;Initial Catalog=vcpmc;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Vcpmc.Mis.AppMatching.Properties.Settings.vcpmcDemo2ConnectionString" connectionString="Data Source=DESKTOP-T0K91DM\SQLEXPRESS;Initial Catalog=vcpmcDemo2;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
	  <NetFx40_LegacySecurityPolicy enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="2.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FileHelpers" publicKeyToken="3e0c08d59cc3d657" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--<add key="BaseAddress" value ="http://210.245.52.49:5001 http://localhost:5001" />-->
	<add key="BaseAddress" value ="http://210.245.52.49:5001" />
    <add key="LimitDisplayDGV" value="10000" />
    <add key="LimitDisplayExportExcel" value="250000" />
    <add key="LimitRequest" value="1000" />
    <add key="LimitRequestMonopoly" value="5000" />
    <add key="LimitRequestMemberList" value="5000" />
    <add key="LimitRequestMasterlist" value="5000" />
    <add key="LimitRequestTrackingWork" value="5000" />
    <add key="LimitRequestFixParameter" value="5000" />
	<add key="LimitRequestPreclaim" value="1000" />
    <add key="LimitRequestWork" value="300" />    
    <add key="LimitMatchingPreclaimRequest" value="1000" />
    <add key="LimitMatchingWorkRequest" value="1000" />
    <add key="LimitRequestWorkHistory" value="2500" />
	  <!--GIAY SECONDS-->
    <add key="TimeoutHttpClient" value="600" />
    <add key="LimitRequestUpdate" value="5000" />
    <add key="TimeSession" value="60" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>